In [1]:
import pandas as pd

In [2]:
## specify the encoding of Windows csv
## import data
social_media_data = pd.read_csv("C:/Users/user/Desktop/social_media_data1.csv",encoding="cp1252")

In [3]:
social_media_data.shape

(302, 34)

In [4]:
social_media_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         302 non-null    int64
 1   Gender                      302 non-null    object
 2   Year                        300 non-null    object
 3   Residence                   296 non-null    object
 4   WhatsApp                    301 non-null    float64
 5   Facebook                    301 non-null    float64
 6   Instagram                   301 non-null    float64
 7   TikTok                      301 non-null    float64
 8   Twitter                     301 non-null    float64
 9   Other                       301 non-null    float64
 10  hours_per_day               300 non-null    object
 11  Academic                    300 non-null    float64
 12  Entertainment               300 non-null    float64
 13  Social                      300 non-null    float64
 14  News                        300 non-null    float64
 15  Other.1                     300 non-null    float64
 16  Checking_accounts           302 non-null    object
 17  Mood                        298 non-null    object
 18  Rating_usage                300 non-null    object
 19  Academic.1                  300 non-null    object
 20  Time                        299 non-null    object
 21  Media_for_studying          297 non-null    object
 22  Upset_of_something          286 non-null    float64
 23  Unable_to_control           288 non-null    float64
 24  Stressed                    287 non-null    float64
 25  Handling_problems           286 non-null    float64
 26  Going_right                 283 non-null    float64
 27  Not_coping                  287 non-null    float64
 28  Controlling_irritations     283 non-null    float64
 29  On_top                      280 non-null    float64
 30  Angered                     287 non-null    float64
 31  Difficulties_in_overcoming  286 non-null    float64
 32  Influences_stress           294 non-null    object
 33  Influence                   70 non-null     object
dtypes: float64(21), int64(1), object(12)
memory usage: 80.3+ KB

In [5]:
social_media1=social_media_data.dropna(how="all")

In [6]:
social_media1.shape

(302, 34)

In [7]:
social_media1.head()

,Age,Gender,Year,Residence,WhatsApp,Facebook,Instagram,TikTok,Twitter,Other,...,Stressed,Handling_problems,Going_right,Not_coping,Controlling_irritations,On_top,Angered,Difficulties_in_overcoming,Influences_stress,Influence
0,19,Female,1st Year,On-campus,0.0,1.0,0.0,0.0,0.0,0.0,...,3.0,2.0,2.0,3.0,2.0,1.0,0.0,2.0,Not Sure,NaN
1,23,Male,4th Year,Off-campus,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,4.0,1.0,3.0,2.0,4.0,4.0,1.0,Not Sure,NaN
2,22,Female,4th Year,On-campus,1.0,0.0,1.0,1.0,0.0,0.0,...,4.0,3.0,2.0,4.0,2.0,4.0,4.0,4.0,Yes,"Yes, because excessive use can make me feel an..."
3,23,Male,4th Year,Off-campus,1.0,1.0,0.0,0.0,0.0,0.0,...,3.0,4.0,2.0,2.0,1.0,3.0,4.0,0.0,No,NaN
4,24,Female,4th Year,Off-campus,1.0,0.0,0.0,0.0,0.0,1.0,...,2.0,3.0,3.0,2.0,3.0,1.0,2.0,1.0,No,NaN

In [8]:
social_media1["Year"].value_counts()

Year
1st Year    75
4th Year    75
2nd Year    75
3rd Year    75
Name: count, dtype: int64

In [9]:
social_media1["Age"].value_counts()

Age
 21    70
 20    68
 22    45
 23    34
 19    33
 24    15
 25    13
 18     9
 26     5
 27     3
 17     2
 31     1
-24     1
 16     1
 29     1
 28     1
Name: count, dtype: int64

In [10]:
social_media1["Age"].sort_values()

207   -24
219    16
244    17
9      17
243    18
       ..
227    27
213    27
284    28
282    29
204    31
Name: Age, Length: 302, dtype: int64

In [11]:
social_media1.isnull().sum()

Age                             0
Gender                          0
Year                            2
Residence                       6
WhatsApp                        1
Facebook                        1
Instagram                       1
TikTok                          1
Twitter                         1
Other                           1
hours_per_day                   2
Academic                        2
Entertainment                   2
Social                          2
News                            2
Other.1                         2
Checking_accounts               0
Mood                            4
Rating_usage                    2
Academic.1                      2
Time                            3
Media_for_studying              5
Upset_of_something             16
Unable_to_control              14
Stressed                       15
Handling_problems              16
Going_right                    19
Not_coping                     15
Controlling_irritations        19
On_top                         22
Angered                        15
Difficulties_in_overcoming     16
Influences_stress               8
Influence                     232
dtype: int64

In [12]:
## deleting rows where year is null
social_media1 = social_media1.dropna(subset=['Year'])

In [13]:
social_media1.isnull().sum()

Age                             0
Gender                          0
Year                            0
Residence                       6
WhatsApp                        1
Facebook                        1
Instagram                       1
TikTok                          1
Twitter                         1
Other                           1
hours_per_day                   2
Academic                        2
Entertainment                   2
Social                          2
News                            2
Other.1                         2
Checking_accounts               0
Mood                            4
Rating_usage                    2
Academic.1                      2
Time                            3
Media_for_studying              5
Upset_of_something             16
Unable_to_control              14
Stressed                       15
Handling_problems              16
Going_right                    19
Not_coping                     15
Controlling_irritations        19
On_top                         22
Angered                        15
Difficulties_in_overcoming     16
Influences_stress               8
Influence                     231
dtype: int64

In [14]:
social_media1.shape

(300, 34)

In [15]:
## droping columns with more missing values
social_media1.drop(columns=["Influence"], inplace=True)

In [16]:
social_media1.reset_index()

,index,Age,Gender,Year,Residence,WhatsApp,Facebook,Instagram,TikTok,Twitter,...,Unable_to_control,Stressed,Handling_problems,Going_right,Not_coping,Controlling_irritations,On_top,Angered,Difficulties_in_overcoming,Influences_stress
0,0,19,Female,1st Year,On-campus,0.0,1.0,0.0,0.0,0.0,...,2.0,3.0,2.0,2.0,3.0,2.0,1.0,0.0,2.0,Not Sure
1,1,23,Male,4th Year,Off-campus,1.0,0.0,0.0,1.0,0.0,...,3.0,1.0,4.0,1.0,3.0,2.0,4.0,4.0,1.0,Not Sure
2,2,22,Female,4th Year,On-campus,1.0,0.0,1.0,1.0,0.0,...,3.0,4.0,3.0,2.0,4.0,2.0,4.0,4.0,4.0,Yes
3,3,23,Male,4th Year,Off-campus,1.0,1.0,0.0,0.0,0.0,...,0.0,3.0,4.0,2.0,2.0,1.0,3.0,4.0,0.0,No
4,4,24,Female,4th Year,Off-campus,1.0,0.0,0.0,0.0,0.0,...,1.0,2.0,3.0,3.0,2.0,3.0,1.0,2.0,1.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,297,21,Male,1st Year,On-campus,1.0,0.0,1.0,1.0,1.0,...,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Yes
296,298,21,Female,1st Year,On-campus,1.0,0.0,1.0,1.0,1.0,...,4.0,4.0,2.0,3.0,2.0,2.0,4.0,4.0,4.0,Yes
297,299,23,Male,3rd Year,On-campus,1.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,Not Sure
298,300,20,Male,1st Year,On-campus,1.0,0.0,1.0,0.0,0.0,...,3.0,2.0,4.0,2.0,3.0,0.0,3.0,2.0,4.0,Not Sure
299,301,20,Male,3rd Year,Off-campus,1.0,1.0,0.0,1.0,0.0,...,3.0,3.0,2.0,3.0,3.0,2.0,3.0,3.0,2.0,No

In [18]:
social_media1.to_csv("C:/Users/user/Desktop/social_media_data2.csv")

In [19]:
## droping the index
social_media1.reset_index(drop=True, inplace=True)

In [20]:
social_media1.head()

,Age,Gender,Year,Residence,WhatsApp,Facebook,Instagram,TikTok,Twitter,Other,...,Unable_to_control,Stressed,Handling_problems,Going_right,Not_coping,Controlling_irritations,On_top,Angered,Difficulties_in_overcoming,Influences_stress
0,19,Female,1st Year,On-campus,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,3.0,2.0,2.0,3.0,2.0,1.0,0.0,2.0,Not Sure
1,23,Male,4th Year,Off-campus,1.0,0.0,0.0,1.0,0.0,0.0,...,3.0,1.0,4.0,1.0,3.0,2.0,4.0,4.0,1.0,Not Sure
2,22,Female,4th Year,On-campus,1.0,0.0,1.0,1.0,0.0,0.0,...,3.0,4.0,3.0,2.0,4.0,2.0,4.0,4.0,4.0,Yes
3,23,Male,4th Year,Off-campus,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,4.0,2.0,2.0,1.0,3.0,4.0,0.0,No
4,24,Female,4th Year,Off-campus,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,2.0,3.0,3.0,2.0,3.0,1.0,2.0,1.0,No