In [1]:
import pandas as pd

In [2]:
## specify the encoding of Windows csv
## import data
social_media_data = pd.read_csv("C:/Users/user/Desktop/social_media_data1.csv",encoding="cp1252")

In [3]:
social_media_data.shape

(307, 34)

In [4]:
social_media_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         307 non-null    int64
 1   Gender                      307 non-null    object
 2   Year                        305 non-null    object
 3   Residence                   301 non-null    object
 4   WhatsApp                    306 non-null    float64
 5   Facebook                    306 non-null    float64
 6   Instagram                   306 non-null    float64
 7   TikTok                      306 non-null    float64
 8   Twitter                     306 non-null    float64
 9   Other                       306 non-null    float64
 10  hours_per_day               305 non-null    object
 11  Academic                    305 non-null    float64
 12  Entertainment               305 non-null    float64
 13  Social                      305 non-null    float64
 14  News                        305 non-null    float64
 15  Other.1                     305 non-null    float64
 16  Checking_accounts           307 non-null    object
 17  Mood                        303 non-null    object
 18  Rating_usage                305 non-null    object
 19  Academic.1                  305 non-null    object
 20  Time                        304 non-null    object
 21  Media_for_studying          301 non-null    object
 22  Upset_of_something          291 non-null    float64
 23  Unable_to_control           292 non-null    float64
 24  Stressed                    292 non-null    float64
 25  Handling_problems           291 non-null    float64
 26  Going_right                 288 non-null    float64
 27  Not_coping                  292 non-null    float64
 28  Controlling_irritations     288 non-null    float64
 29  On_top                      285 non-null    float64
 30  Angered                     292 non-null    float64
 31  Difficulties_in_overcoming  291 non-null    float64
 32  Influences_stress           299 non-null    object
 33  Influence                   71 non-null     object
dtypes: float64(21), int64(1), object(12)
memory usage: 81.7+ KB

In [5]:
social_media1=social_media_data.dropna(how="all")

In [6]:
social_media1.shape

(307, 34)

In [7]:
social_media1.head()

,Age,Gender,Year,Residence,WhatsApp,Facebook,Instagram,TikTok,Twitter,Other,...,Stressed,Handling_problems,Going_right,Not_coping,Controlling_irritations,On_top,Angered,Difficulties_in_overcoming,Influences_stress,Influence
0,27,Male,4th Year,Off-campus,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3.0,1.0,1.0,1.0,0.0,1.0,Not Sure,NaN
1,24,Male,4th Year,Off-campus,1.0,1.0,0.0,1.0,0.0,0.0,...,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,Yes,Helps relieves stress
2,19,Female,1st Year,On-campus,0.0,1.0,0.0,0.0,0.0,0.0,...,3.0,2.0,2.0,3.0,2.0,1.0,0.0,2.0,Not Sure,NaN
3,23,Male,4th Year,Off-campus,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,4.0,1.0,3.0,2.0,4.0,4.0,1.0,Not Sure,NaN
4,22,Female,4th Year,On-campus,1.0,0.0,1.0,1.0,0.0,0.0,...,4.0,3.0,2.0,4.0,2.0,4.0,4.0,4.0,Yes,"Yes, because excessive use can make me feel an..."